body {
	background: #EEEFF1;
	font-size: 13px;
}

/* ========================================================== */
a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* ========================================================== */
#common .mCont {
	
}

/* ========================================================== */
#header {
	background: #313337;
	height: 54px;
	border-bottom: solid 1px #222324;
}

	#header a {
		color: #EBEBF1;
	}

	#header h1 {
		display: block;
		height: 54px;
		border-right: solid 1px #222324;
		float: left;
	}

	#header h1 a {
		display: block;
		height: 54px;
		border-right: solid 1px #3A3D3F;
		width: 60px;
		text-indent: -900em;
		background: url('../images/base/logo.png') 50% 50% no-repeat;
	}

/* ========================================================== */
#actions {
	padding: 10px 0 0 72px;
	height: 44px;
}

	#actions ul {
		float: left;
		border: solid 1px #55575B;
		border-radius: 2px;
		margin-right: 10px;
	}
	
	#actions .master {
		border-color: #5BA4D7;
	}
	
	#actions .side {
		float: right;
	}
	
	#actions ul li {
		float: left;
		text-shadow: 0 1px 1px #282A2D;
	}
	
	#actions ul a {
		display: block;
		height: 30px;
		line-height: 30px;
		padding: 0 10px;
	}
	
	#actions ul a .icon {
		display: block;
		height: 10px;
		width: 10px;
		margin-right: 8px;
		display: inline-block;
		background: #55575B;
	}

/* ========================================================== */
#ie-message {
	display: none;
}
